$default: #eef;

ul.controls-desc{
    list-style: none;
    margin-left: 0px;
}

.game-container {
    width: 100%;

    svg {
        width: 100%;
        max-height: 100vh;
    }
}

.test-editor {
    font-family: monospace;
    font-size: 14px;
    background-color: white;
    color: black;

    #add-test {
        margin: 5px;
        padding: 5px;
    }

    span.test-string, span.test-success, span.test-failure {
        color: black;
        font-style: normal;
        font-weight: bold;
        margin: 5px;
        padding: 5px;
        background-clip: padding-box;
        display: inline-block;
        border-style: solid;
        border-width: 2px;
        border-radius: 4px;
    }

    span.test-string {
        background-color: skyblue;
        border-color: blue;
    }

    span.test-success {
        background-color: aquamarine;
        border-color: green;
    }

    span.test-failure {
        background-color: indianred;
        border-color: red;
    }

    span.test-string[contenteditable]:empty::before {
        content: '(Write test string here)';
        font-style: italic;
        display: inline-block;
    }
}

/*  green: #03ec04 */
@import "controls.scss";
@import "program-view.scss";
@import "tape-view.scss";
@import "palette.scss";
